
@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap);

*{
    font-family: 'Poppins',sans-serif;
    margin: 0;
    padding: 0;
}

/* style header */
header{
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: left;
}
header>a{
    color: white;
    text-decoration: none;
}

/* style search bar */
.search-bar{
    display: flex;
    justify-content: center;
    margin: 10px;
}
#search-input{
    width: 300px;
    height: 30px;
    border: 1px solid #333;
    border-radius: 5px;
    margin-right: 10px;
    padding: 0 7px;
}
#search-button{
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    background-color: #333;
}

/* styling sorting-options */
.sorting-options{
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 15px;
}
#sort-by-date, #sort-by-rating{
    width: 200px;
    height: 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.active-sort{
    background-color: #333;
    color: white;
}

/* styling tabs section */
.tabs{
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    margin-left: 35px;
    margin-bottom: 35px;
}
#all-tab, #favourites-tab{
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.active-tab{
    background-color: #333;
    color: white;
}

/* styling movie list section */
#movies-list{
    display: flex;
    padding: 20px 0;
    justify-content: center;
    flex-wrap: wrap;
    list-style-type: none;
}
.card{
    width: 200px;
    height: 375px;
    margin: 10px;
    border: 1px solid #333;
    border-radius: 5px;
}
.poster{
    width: 200px;
    height: 250px;
    object-fit: cover;
}
.title{
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}
.vote-favouriteIcon{
    display: flex;
    justify-content: space-around;
}
.vote-count, 
.vote-average{
    font-size: 14px;
}
.favourite-icon{
    width: 20px;
    height: 20px;
    margin-top: 5px;
    /* margin-left: 10px; */
    cursor: pointer;
}
/* pagination */
.pagination{
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}
#prev-button, #prev-number-button, #next-button{
    margin-right: 10px;
    padding: 5px 7px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* styling footer section */
footer{
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}